<div class="row">
  <div class="col-12">
    <div class="card">
      <div class="card-body">
        <h4 class="card-title">Striped Progress bar</h4>
        <div
          class="progress-bar bg-info active progress-bar-striped"
          style="height:8px;"
          role="progressbar"
          [style.width]="getProgress1"
          > <span class="sr-only">60% Complete</span>
        </div>

         <div
           class="progress-bar bg-info active progress-bar-striped"
           style="height:8px;"
           role="progressbar"
           [style.width]="getProgress2">
           <span class="sr-only">60% Complete</span> </div>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-6">
    <div class="card">
      <div class="card-body">
        <app-incrementer (changeValue)="progress1 = $event" [progress]="progress1"></app-incrementer>
      </div>
    </div>
  </div>

  <div class="col-6">
    <div class="card">
      <div class="card-body">
        <app-incrementer (changeValue)="progress2 = $event" [progress]="progress2" [btnClass]="'btn btn-info'"></app-incrementer>
      </div>
    </div>
  </div>

</div>
