<div class="row animated fadeIn fast">
    <div class="col-12">
      <div class="card">
        <div class="card-body">
            
            <input 
                #inputDoctor
                type="text"
                class="form-control"
                placeholder="Buscar usuario..."
                (keyup)="search(inputDoctor.value)"
                />

        </div>
      </div>
    </div>
  </div>

  <div class="row animated fadeIn fast" *ngIf="charging">
    <div class="col-12">
        
        <div class="alert alert-info text-center" >
            <h4 class="alert-heading">Cargando</h4>
            <i class="fa fa-spin fa-refresh fa-2x"></i>
            <p class="mb-0">Por favor espere</p>
        </div>
        
    </div>
  </div>

  <div class="row" *ngIf="!charging">
    <div class="col-12">
        <div class="card">
            <div class="card-body">

                <div class="row">
                    <div class="col-8">
                        <h4 class="card-title">Medicos ({{doctors.length}})</h4>
                        <h6 class="card-subtitle">Medicos registrados en la aplicación</h6>
                    </div>
                    <div class="col">
                        <div class="text-right">
                            <a 
                                routerLink="/dashboard/medico/nuevo"
                                class="btn btn-primary" >
                                <i class="fa fa-hospital-o"></i>
                                Crear médico
                            </a>
                        </div>
                    </div>
                </div>

                
                <div class="table-responsive">
                    <table class="table table-bordered">
                        <thead>
                            <tr>
                                <th class="w100">Foto</th>
                                <th>Nombre</th>
                                <th class="text-nowrap w100">Acciones</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let doctor of doctors">
                                <td>
                                    <img 
                                        (click)="openModal(doctor)"
                                        class="avatar cursor" 
                                        [src]="doctor.img || '' | image:'medicos'" alt="Doctors images">
                                </td>
                                <td>
                                    <input 
                                        class="form-control"
                                        [(ngModel)]="doctor.nombre"
                                        type="text"
                                        
                                        >
                                </td>
                
                                <td class="text-nowrap text-center">
                                    <a 
                                        [routerLink]="['/dashboard/medico', doctor._id]" 
                                        data-toggle="tooltip" 
                                        data-original-title="Edit"> 
                                        <i class="fa fa-pencil text-inverse m-r-10"></i> 
                                    </a>
                                    <a 
                                        (click)="deleteDoctor(doctor)"
                                        data-toggle="tooltip" 
                                        data-original-title="Close"> 
                                        <i class="fa fa-close text-danger"></i> 
                                    </a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>

                <button class="btn btn-secondary">Anteriores</button>
                &nbsp;
                <button class="btn btn-secondary">Siguientes</button>

            </div>
        </div>
    </div>
  </div>

